<html>
	<head>
		<title>Karima's dungeon</title>
	</head>
	<body>
        <div>
            <h1><a href="">Karima's dungeon of python noobieness</a></h1>
        </div>
        
        <div>
            <p>this is some info about when it is made 02.06.2016</p>
            <h2><a href="">This is the first blogpost.</a></h2>
            <p>The quick brown fox jumped over the lazy dog. Repeat this a million times.</p>
        </div>
        
        <div>
            <p>this is a second post 02.06.2016</p>
            <h2><a href="">This is the Second blogpost.</a></h2>
            <p>The quick brown fox jumped over the lazy dog. Repeat this a million times.</p>
        </div>
        

	</body>
</html>
	